<!DOCTYPE html>
<html>

<script src="jquery.min.js"></script>

<script>
    var auto_refresh = setInterval(
        function () {
            $('#emoji').fadeOut('slow').load('home.html').fadeIn("slow");
        }, 10000);
</script>

<body bgcolor="#696969">
    <title>Emoji</title>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <style>
        body,
        h1 {
            font-family: "Raleway", sans-serif
        }

        body,
        html {
            height: 100%
        }

        .bgimg {
            background-color: dimgrey;
            min-height: 100%;
            background-position: center;
            background-size: cover;
        }
    </style>


    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        <div class="w3-display-topleft w3-padding-large w3-xlarge">
            
        </div>
        <div class="w3-display-middle" id='emoji'>
            <meta http-equiv="refresh" content="10">
            <h1 class="w3-jumbo w3-animate-top"> {{ emoji }} {{ value }} </h1>
            <hr class="w3-border-grey" style="margin:auto;width:40%">
            <p class="w3-large w3-center"> {{ time }} </p>
        </div>
    </div>

</body>

</html>